<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <system.diagnostics>
    <!--Trace logging configuration. 
          Modify switchValue attribute to adjust verbosity.
          See: https://msdn.microsoft.com/en-us/library/ms733025(v=vs.110).aspx#Anchor_3
      -->
    <sources>
      <source name="ExpirationEventService"
              switchValue="Warning"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />

          <add name="eventLogListener"
               type="System.Diagnostics.EventLogTraceListener"
               initializeData="SossExpirationEventService" />

          <!-- Uncomment the consoleListener to write trace output to the 
               command line during debugging/development.
            -->
          <!--
          <add name="consoleListener"
               type="System.Diagnostics.ConsoleTraceListener" />
          -->
          
          <!-- Consider the Essential.Diagnostics nuget package for many 
               more trace listener options (rolling log files, email, SQL, etc.) -->
        
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>

</configuration>